Sinatra::Base.set(:environment=>:production, :logging=>true) if defined?(Sinatra)
DB = Sequel.connect(case(GIFTSMAS_ENV)
when :production
  'postgres:///giftsmas'
when :test
  'postgres:///giftsmas_test'
end)
