<% @title = "#{@user.events.empty? ? 'Create' : 'Choose'} Your Event" %>

<% unless @user.events.empty? %>
  <form action="/choose_event" class="form-inline" role="form" method="post">
    <%== csrf_tag("/choose_event") %>
    <div class="form-group">
      <label for="event_id">Event</label>
      <%== model_select(:event_id, @user.events) %>
      <input type="submit" class="btn btn-default" value="Choose Event"/>
    </div>
  </form>

  <h1>Create a New Event</h1>
<% end %>

<form action="/add_event" class="form-inline" method="post">
  <%== csrf_tag("/add_event") %>
  <div class="form-group">
    <label for="name">Event</label>
    <input type="text" name="name" id="name"/>
    <input type="submit" class="btn btn-default" value="Create New Event"/>
  </div>
</form>
