<% @title = "#{@user.events.empty? ? 'Create' : 'Choose'} Your Event" %>

<% unless @user.events.empty? %>
  <form action="/choose_event" class="form-horizontal" method="post">
    <%== csrf_tag %>
    <fieldset>
      <legend>Choose an Existing Event</legend>
      <div class="control-group">
        <label class="control-label" for="event_id">Event</label>
        <div class="controls">
          <%== model_select(:event_id, @user.events) %>
        </div>
      </div>
      <div class="form-actions">
        <input type="submit" class="btn-large" value="Choose Event"/>
      </div>
    </fieldset>
  </form>
<% end %>

<form action="/add_event" class="form-horizontal" method="post">
  <%== csrf_tag %>
  <fieldset>
    <legend>Create a New Event</legend>
    <div class="control-group">
      <label class="control-label" for="name">User</label>
      <div class="controls">
        <input type="text" class="input-xlarge" name="name" id="name"/>
      </div>
    </div>
    <div class="form-actions">
      <input type="submit" class="btn-large" value="Create New Event"/>
    </div>
  </fieldset>
</form>
