<% @title = 'Login' %>

<form method='post' action='/login'>
User: <input type="text" name="user" /><br />
Password: <input type="password" name="password" /><br />
<input type="submit" value="Login" />
</form>
