<% @title = 'Thank You Notes' %>

<ul>
<% @receivers.each do |r, senders| %>
  <li class="persongifts"><%= r %><ul>
  <% senders.each do |s, gifts| %>
    <li><%= s %><ul>
    <% gifts.each do |g| %>
    <li><%= g %></li>
    <% end %></ul></li>
  <% end %></ul></li>
<% end %>
</ul>
