<% @title = 'Reports' %>
<ul>
  <li><a href="/reports/chronological">In Chronological Order</a></li>
  <li><a href="/reports/by_receiver">By Receiver</a></li>
  <li><a href="/reports/by_sender">By Sender</a></li>
  <li><a href="/reports/summary">Summary</a></li>
  <li><a href="/reports/crosstab">Summary Crosstab</a></li>
  <li><a href="/reports/thank_yous">Thank You Notes</a></li>
</ul>
