* { box-sizing: border-box; }

.navbar-default {
  color: white;
  padding-bottom: 5px;
  &, .dropdown-menu, .dropdown-menu li a:hover {
    background-color: #141;
  }
  .navbar-brand, .navbar-nav > li > a, .navbar-nav .open .dropdown-menu > li > a {
    &, &:hover, &:visited { color: white; }
    &:hover { text-decoration: underline; }
  }
  .navbar-form {
    padding: 0;
    border-width: 0;
    margin-right: 20px;
  }
  .collapse.in input {
    width: auto;
    margin: auto;
  }
}

a {
  &, &:hover, &:visited { color: #555; text-decoration: none; }
  &:hover { text-decoration: underline; }
}

.table-striped a:link { color: #888}

body { 
	background-color: #cdc;
	color: #600;	
  margin: 0;
}

h1 { margin-bottom: 5px; }
h1, h2, h3, h4, label { color: inherit; }

.navbar .brand { color: #c00;}

div.form-actions {
  background-color: inherit;
  border-top-width: 0;
  padding-top: 0;
}

legend { margin-bottom: 0; }

div.giftpeople input, div.giftpeople label { display: inline; }
.giftpeople h2 { font-size: 18px; padding: 0; margin: 0;}
.gift-senders h2 {text-align: center;}
.gift-senders .checkboxes {columns: 2;}

table#recent_gifts { margin: auto; }
table#recent_gifts a { color: #600; }

table.table, input, select, textarea { width: auto; padding: 5px; }

table.formtable td.attribute { text-align: right; }

ul.scaffold_associated_records_list li form { display: inline; }

#content .nav a:visited, #content .nav a, #autoforme_content .pager a {color: #555;}

#autoforme_content a.btn {color: white;}
#autoforme_content form {
  label[for] { min-width: 200px;}
  input[type=date] { line-height: normal;}
}

table {
  border-collapse: collapse;
  &, td, th {
    border: 1px solid black;
  }
  td, th {
    padding: 5px;
  }
  tr:nth-child(2n) {
    background-color: #eee;
  }
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

.controls {
  display: inline-block;
  vertical-align: top;
  padding-left: 10px;
  margin-bottom: 15px;
  input { vertical-align: middle;}
}

label {
  vertical-align: top;
  font-weight: bold;

  &.control-label {
    text-align: right;
    vertical-align: middle;
  }
}

.form-group {
  margin-bottom: 15px;
}

.form-control {
  display: block;
  width: 100%;
}


.pull-right {
  float: right;
}

.btn {
  border-radius: 4px;
  line-height: 1.5;
  border: 1px solid transparent;
  padding: 3px;
}

.btn-primary {
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
}

.btn-info {
  color: #fff;
  background-color: #269abc;
  border-color: #1b6d85;
}

.btn-danger {
  color: #fff;
  background-color: #ac2925;
  border-color: #761c19;
}

.btn-warning {
  color: #000;
  background-color: #f0ad4e;
  border-color: #eea236;
}

.container {
  max-width: 1170px;
  margin: auto;
  width: 100%;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  margin: 0;
  padding: 0;

  .col-md-1 { width: 8.333%; }
  .col-md-2 { width: 16.666%; }
  .col-md-3 { width: 25%; }
  .col-md-4 { width: 33.333%; }
  .col-md-6 { width: 50%; }
  .col-md-8 { width: 66.666%; }
  .col-md-9 { width: 75%; }
}
.center-align {
  align-items: center;
  row-gap: 15px; 
  .controls {
    margin: 0;
    input { vertical-align: middle;}
  }
  margin-bottom: 15px;
}

ul.nav > li {
  display: inline-block;
  margin-left: 20px;
}

.alert {
  float: right;
  padding: 8px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.alert-success {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #3c763d;
}
.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}

.navbar-default {
  color: white;
  margin-bottom: 10px;
  .navbar-brand, .navbar-nav > li > a {
    &, &:hover, &:visited { color: white; text-decoration: none; }
    &:hover { text-decoration: underline; }
  }
  .navbar-header, ul.nav { display: inline-block; font-size: 20px;}
  .navbar-brand {
    font-size: 24px;
    line-height: 1.5;
  }
  .navbar-form {
    width: auto;
    padding: 0;
    margin: 8px;
    margin-right: 20px;
    border: 0;
    float: right;
    .form-control {
      display: inline-block;
      width: auto;
      vertical-align: middle;
    }
  }
  ul.nav {
    margin: 0;
    padding: 10px;
    list-style-type: none;
    li {
      padding-left: 10px;
      display: inline-block;
    }
  }
}

@media print {
    div.navbar { display: none; }
    div#content {
        position: static;
        width: 99%;
    }
    .persongifts { page-break-after: always; }
}
