.navbar-default {
  color: white;
  &, .dropdown-menu, .dropdown-menu li a:hover {
    background-color: #141;
  }
  .navbar-brand, .navbar-nav > li > a, .navbar-nav .open .dropdown-menu > li > a {
    &, &:hover, &:visited { color: white; }
    &:hover { text-decoration: underline; }
  }
  .navbar-form {
    padding: 0;
    border-width: 0;
    margin-right: 20px;
  }
  .collapse.in input {
    width: auto;
    margin: auto;
  }
}

a {
  &, &:hover, &:visited { color: #555 }
  &:hover { text-decoration: underline; }
}

.table-striped a:link { color: #888}

body { 
	background-color: #cdc;
	color: #600;	
}

h1, h2, h3, h4, label { color: inherit; }

.navbar .brand { color: #c00;}

div.form-actions {
  background-color: inherit;
  border-top-width: 0;
  padding-top: 0;
}

legend { margin-bottom: 0; }

div.giftpeople input, div.giftpeople label { display: inline; }

table#recent_gifts a { color: #600; }

table.table, input, select, textarea { width: auto; }

table.formtable td.attribute { text-align: right; }

ul.scaffold_associated_records_list li form { display: inline; }

#content .nav a:visited, #content .nav a, #autoforme_content .pager a {color: #555;}

#autoforme_content a.btn {color: white;}
#autoforme_content form {
  label[for] { min-width: 200px;}
  input[type=date] { line-height: normal;}
}

@media print {
    div.navbar { display: none; }
    div#content {
        position: static;
        width: 99%;
    }
    .persongifts { page-break-after: always; }
}
