div.navbar-inner {
  background-color: #141;
  background-image: none;
  filter: none;
}

a {
  &, &:link { color: #FFF }
  &:visited { color: #555}
  &:hover { color: #C00}
}

.table-striped a:link { color: #888}

body { 
	background-color: #cdc;
	color: #600;	
}

h1, h2, h3, h4, label { color: inherit; }

.navbar .brand { color: #c00;}

div.form-actions {
  background-color: inherit;
  border-top-width: 0;
  padding-top: 0;
}

legend { margin-bottom: 0; }

div.giftpeople input, div.giftpeople label { display: inline; }

table#recent_gifts a { color: #600; }

input, select, textarea { width: auto; }

table.formtable td.attribute { text-align: right; }

ul.scaffold_associated_records_list li form { display: inline; }

@media print {
    div.navbar { display: none; }
    div#content {
        position: static;
        width: 99%;
    }
    .persongifts { page-break-after: always; }
}

#autoforme_content a.btn {color: white;}
#content .nav a:visited, #content .nav a, #autoforme_content .pager a {color: #555;}
